.about-bg {
    background-color: #222;
}

.about {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.about h1 {
    color: khaki;
    text-align: center;
}

.about .pre {
    background-color: #2c2c2c;
    padding: 15px;
    border-left: 4px solid khaki;
}