.about-bg {
    background-color: #222;
}

.about {
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    max-height: 100vh;
    margin: auto;
}

/* Başlık */
.about h1 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: khaki;
    /* inline style ile uyumlu */
    text-align: center;
}

/* Açıklama yazısı */
.about .text-light {
    font-size: 1rem;
    line-height: 1.6;
    color: #f0f0f0;
    margin-bottom: 20px;
}

/* Blog maddeleri */
.about .pre {
    font-size: 1rem;
    line-height: 1.6;
    color: #ddd;
    background-color: rgb(44, 44, 44);
    padding: 15px;
    border-left: 4px solid khaki;
    border-radius: 6px;
}

/* Responsive uyum */
@media (max-width: 768px) {
    .about {
        padding: 15px;

    }

    .about h1 {
        font-size: 1.8rem;
    }

    .about .text-light,
    .about .pre {
        font-size: 0.95rem;
    }
}