.article-card:hover {
    transform: translateY(-5px);
}


.articles-page {
    padding: 2rem;
    background-color: #252525;
    /* anasayfa ile uyumlu */
    color: #fff;
}

.articles-title {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
    color: khaki;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.5rem;
}

.article-card {
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #333;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 100%;
    /* EKLE */
    height: 330px;
    /* EKLE (isteğe göre ayarla) */
    margin: 10px auto;
    padding: 16px;
    display: flex;
    /* EKLE */
    flex-direction: column;
    /* EKLE */
    justify-content: space-between;
    /* EKLE */

    text-align: center;
}

.article-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.article-title {
    margin-bottom: 0.5rem;
}

.article-author {
    color: #ccc;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.article-link {
    text-decoration: none;
    font-weight: bold;
}

.article-link:hover {
    color: khaki;
}