.article-card:hover {
    transform: translateY(-5px);
}


.articles-page {
    padding: 2rem;
    background-color: #252525;
    /* anasayfa ile uyumlu */
    color: #fff;
}

.articles-title {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
}

.article-card {
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 1.2rem;
    border: 1px solid #333;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.article-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.article-title {
    color: khaki;
    margin-bottom: 0.5rem;
}

.article-author {
    color: #ccc;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.article-link {
    color: deepskyblue;
    text-decoration: none;
    font-weight: bold;
}

.article-link:hover {
    color: khaki;
}