html,
body {
    margin: 0;
    padding: 0;
    background-color: #252525;
    color: #fff;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}