.header {
    background-color: #000000;
    display: flex;
    height: 50px;
    margin-right: 80px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.nav-links,
.header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 8px;
    font-size: 14px;
    transition: color 0.3s ease;
}

.header a:hover {
    color: khaki;
}

.nav-logo img {
    height: 35px;

}

@media (max-width: 900px, ) {
    .header {
        flex-direction: column;
        align-items: flex-start;

    }

    .header a {
        width: 100%;
        padding: 4px 0;
        border-bottom: 1px solid #333;
    }
}