.tools-page {
    background-color: #252525;
    flex-direction: row;

}

.tool-card {
    max-width: 500px;
    width: 100%;
    /* EKLE */
    height: 400px;
    /* EKLE (isteğe göre ayarla) */

    margin: 10px auto;
    padding: 16px;
    background-color: #333;
    border-radius: 8px;

    display: flex;
    /* EKLE */
    flex-direction: column;
    /* EKLE */
    justify-content: space-between;
    /* EKLE */

    text-align: center;
}


.tool-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 3px rgba(194, 194, 162, 0.836);
    background-color: #3f3e3e;
}

.tool-img img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
}

.tool-card h3 {
    margin: 0;
    font-size: 1.7rem;
    color: #eeeeeeb0;
    margin: 5px;
}

.tool-card p {
    margin: 15px 0;
    color: #555;
    color: #eee;
    line-height: 1.4;
}



@media (max-width: 600px) {
    .tool-card {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .tool-img img {
        max-width: 200px;
        margin: 0 auto;
    }
}

.tools-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px;
    justify-content: center;
}

.tools-title {
    align-items: center;
    justify-content: center;
    display: flex;
    color: khaki;
    margin-top: 24px;
}

.position {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}