.tools-page {
    background-color: #252525;

}

.tools-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px;
    justify-content: center;
}

.tools-title {
    align-items: center;
    justify-content: center;
    display: flex;
    color: khaki;
}